<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AdminLogin" value="Admin" />
    <add key="AdminPassword" value="[eq123" />
    <add key="URL" value="" />
    <add key="Telerik.Skin" value="Bootstrap"/>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.Web.UI.RenderMode" value="lightweight"/>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="aspnet:AllowAnonymousImpersonation" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionInfo" connectionString="Data Source=ASU_20;database=ClericalWork;Persist Security Info=True;User ID=sa; Password=[eq123; Encrypt=no;Initial Catalog=ClericalWork" providerName="System.Data.SqlClient" />
    <add name="ConnectionDbDelo" connectionString="Data Source=ASU_20;database=dbDelo;Persist Security Info=True;User ID=sa; Password=[eq123; Encrypt=no;Initial Catalog=dbDelo" providerName="System.Data.SqlClient" />    
    <!-- <add name="ConnectionInfo" connectionString="Data Source=db2;database=timetable;Persist Security Info=false;Integrated Security=True;User ID=AspNet_user; Password=Aser00; Encrypt=no;Initial Catalog=timetable" providerName="System.Data.SqlClient" />  -->
    <!-- <add name="KadriConnection" connectionString="data source=db4;dialect=1;initial catalog=kadri;userid=SYSDBA;password=masterkey;role=VIEWER_KADRI" providerName="FirebirdSql.Data.FirebirdClient"/> -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="FirebirdSql.Data.FirebirdClient, Version=3.0.0.0, Culture=neutral, PublicKeyToken=3750ABCC3150B00C"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <identity impersonate="true" />
     <customErrors mode="Off">
        </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">    
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <add tagPrefix="cuc" assembly="UrbanControls" namespace="UrbanControls" />
        <add tagPrefix="cuc" tagName="NotificationLabel" src="~/Controls/sub/NotificationLabel.ascx" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add assembly="JuiceUI" namespace="Juice" tagPrefix="juice" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    
   <!--при переносе на боевую базу не забыть снять этот sessionState-->
   <sessionState mode="InProc" />  
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImage_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers>
  <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <!--вот этот ремув я добавил в тестовой-->
      <remove name ="Session" /> 
      <add name="Session" type="System.Web.SessionState.SessionStateModule" /> 
      <!--а вот тут он заканчивается-->
      <remove name="RadCompression" /><add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" /></modules>
  </system.webServer>
</configuration>